<!DOCTYPE HTML>
<html>
<head>
<title>please sign in</title>
<style>
body {
	height: 100%;
	margin: 0;
	background-image: url("/assets/images/Purple-Abstract.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #c5cae9;
}
</style>
</head>

<body>

	<h1>Created!</h1>

	Want to add more?

	<form action="#" method="post" th:action="@{/form_submit}"
		th:object="${business}" class="col s12">

		<input type="text" th:field="*{name}"/>
		<input type="text" th:field="*{email}"/>

		<input type="submit" class="btn green right" value="Create" />

	</form>

</body>



</html>